# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
philo/philo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/settings.json
.vscode/launch.json
.vscode/launch.json
bonus/philo_bonus
philo_bonus/philo_bonus
philo_bonus/.nfs00000000005e4d9b0000014a
philo_bonus/.nfs00000000005e17d900000161
philo_bonus/.nfs00000000005e17e300000162
philo_bonus/.nfs00000000005e58c90000014f
philo_bonus/.nfs00000000005e58ca00000150
philo_bonus/.nfs00000000005e58cc00000153
philo_bonus/.nfs00000000005e432b0000014d
philo_bonus/.nfs00000000005e43510000014e
